.card {
  background: #1e293b;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

/* Imagen */
.imageContainer {
  width: 100%;
  height: 180px;
  background: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Contenido */
.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Nombre */
.name {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

/* Descripción */
.description {
  font-size: 0.85rem;
  color: #94a3b8;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Marca */
.brand {
  font-size: 0.75rem;
  color: #38bdf8;
}

/* Footer */
.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Precio */
.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

/* Botón */
.button {
  background: #38bdf8;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: #0f172a;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background: #0ea5e9;
}
